.app-container {
  display: flex; 
  flex-direction: column;
  /* justify-content: center;  */
  padding-top: 50px;
  position: relative;
  align-items: center; 
  align-items: center;
  min-height: 100vh;
  background-color: rgba(128, 95, 185, 0.15);
}

.survey-container {
  width: 50%;
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* overflow: hidden; */
  margin-bottom: 20px;
  /* display: flex; */
  /* flex-direction: column; */
}

.survey-container > :first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.survey-header {
  width: 100%;
  color: #000000;
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 20px;
  /* width: calc(100% - 40px); */
  border-top: 12px solid #673AB7; /* 상단에 보라색 테두리 적용 */
  text-align: left;
}

.survey-header h2 {
  font-size: 32px;
  font-weight: 500;
}

.survey-header p {
  font-size: 16px;
  color: #6d6d6d;
}

.survey-container-detail {
  width: 100%;
  background-color: white;
  padding-bottom: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* 아래쪽 모서리만 둥글게 */
  overflow: hidden;
  margin-bottom: 20px;
  border-left: 7px solid #4285F4;
  display: flex;
  flex-direction: column;
}
.survey-container-detail-pre {
  width: 100%;
  background-color: white;
  padding-bottom: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* 아래쪽 모서리만 둥글게 */
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.survey-question {
  margin-bottom: 20px;
  /* padding-left: 20px; */
  padding-right: 20px;
}

.question-options{
  display: flex;
  flex-direction: column;
  margin-bottom: -40px;
}



.question-text {
  background-color: #f8f8f8;
  padding: 13px 10px;
  margin-right: 30px;
  font-size: 13px;
  color: #333;
  /* margin: 0;  */
  border-radius: 1px;
  flex-grow: 1;
}
.question-text-preview {
  /* padding: 13px 10px; */
  margin-right: 30px;
  font-size: 13px;
  color: #333;
  border-radius: 1px;
}

.question-text-preview input {
  font-size: 16px;
  padding: 10px;
  display: flex;
  border: none;
}
.question-text-preview input:focus {
  border: none;
  outline: none; 
}

.question-text input {
  font-size: 16px;
  padding: 10px;
  display: flex;
  border: none;
  background-color: #f8f8f8;
}

.question-text input:focus {
  border: none;
  outline: none; 
}
.icon-outside {
  display: flex;
  /* position:fixed; */
  /* margin-left: auto; */
  justify-content: center;
  align-items: center;
}

.icon-dropdown-container {
  display: flex;
  justify-content: flex-end;  /* 오른쪽 정렬 */
  align-items: center;        /* 세로 중앙 정렬 (필요한 경우) */
  margin-left: 450px;
}

.drop-down .btn{
  color: #000000 !important;
  border-color: #9f9f9f !important;
  background-color: rgb(255, 255, 255) !important;
}

/* .question-text h4 {
  background-color: #f8f8f8;
  padding: 13px 10px;
  font-size: 18px;
  color: #333;
  margin: 0; 
  border-radius: 1px;
} */

.question-text{
  background-color: #f8f8f8; /* 회색 배경 설정 */
  margin-left: 10px;
  padding: 8px 0px;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  border-radius: 1px;
  display: flex; 
  /* height: 100%; */
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  border-bottom: 0.1px solid #272727;
}

.option {
  display: block;
  margin-bottom: 5px;
  margin: 15px;
}

.option input {
  margin-right: 10px;
}

.drag-drop {
  display: flex;
  flex-direction: column;
  color: #797979;
  cursor: pointer;
}

.question-tail {
  border-top: 1px solid #cccccc;
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  padding-top: 20px;
  font-size: 18px;
}

.question-tail-option {
  border-left: 1px solid #cccccc;
  display: flex;
  align-items: center;
  gap: 10px;
}

.new-container {
  /* margin-top: -20px; */
  width: 50px;
  height: 245px; 
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-content: space-around; 
  margin-left: 12px;
}

.content-container {
  display: flex;
  width: 70.5%;
  justify-content: center;
  margin-left: 58px;
  overflow-anchor: none;
}
.content-container-preview {
  display: flex;
  width: 70.5%;
  justify-content: center;
  overflow-anchor: none;
}

.sur-test {
  width: 71%;
}

.new-container-icon {
  color: #707070;
  cursor: pointer;
}

.dropdown-icon {
  color: #595959;
  margin-right: 15px;
}

.title-editing-input {
  font-size: 32px;
  /* font-weight: bold; */
  margin: 0; /* 위아래 여백 없음 */
  padding: 0; /* 내부 여백 없음 */
  border: none; /* 테두리 없음 */
  outline: none; /* 포커스 시 아웃라인 없음 */
  background: transparent; /* 배경색 없음 */
  color: inherit; /* 상속받은 글자색 사용 */
  width: 100%;
}
.description-editing-input {
  /* font-size: 32px; */
  margin: 0; 
  padding: 0; 
  border: none ;
  outline: none;
  background: transparent;
  color: #7a7a7a; 
  width: 100%;
}

.description-editing-input,
.description-editing-input:focus {
  border: none;
  box-shadow: none;
  outline: none; 
}

.hidden {
  display: none; 
}

.question-title-container .question-title {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.question-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px;
}

.drop-down .dropdown-icon {
  z-index: 1000; /* 충분히 높은 값으로 설정 */
}

.drop-down {
  overflow: visible;
  margin-top: -30px;
}

.custom-input {
  border: none; /* 테두리 제거 */
  border-bottom: 0.1px dashed #b6b6b6; /* 점선 밑줄 추가 */
  width: 47%; /* 전체 너비 사용 */
  outline: none;
  margin-bottom: 50px;
  font-size: 14px;
  color: #6a6a6a;
  margin-left: 20px;
}

.custom-input-preview {
  border: none; 
  border-bottom: 0.1px dashed #b6b6b6; /* 점선 밑줄 추가 */
  width: 47%; /* 전체 너비 사용 */
  outline: none;
  margin-bottom: 50px;
  font-size: 14px;
  color: #6a6a6a;
  margin-left: 20px;
}

.short-input-pre {
  border: none;
}
.short-input-pre:focus {
  border: none;
  outline: none;
}
.long-input-pre {
  border: none;
}
.long-input-pre:focus {
  border: none;
  outline: none;
}
.custom-input-long {
  border: none; 
  border-bottom: 0.1px dashed #b6b6b6; /* 점선 밑줄 추가 */
  width: 85%;
  outline: none;
  margin-bottom: 50px;
  font-size: 14px;
  color: #6a6a6a;
  margin-left: 20px;
}
.custom-input-long-preview {
  border: none; 
  border-bottom: 0.1px dashed #b6b6b6; /* 점선 밑줄 추가 */
  width: 97.3%;
  outline: none;
  margin-bottom: 50px;
  font-size: 14px;
  color: #6a6a6a;
  margin-left: 20px;
}

.plus-option {
  color: #727272;
  cursor: pointer;
}

.plus-etc {
  color: #1A73E8;
  cursor: pointer;
}

.option-edit:focus {
  border: none;
  outline: none;
}

.eye-icon {
  color: #575757;
  cursor: pointer;
}

.submit-btn {
  color: #ffffff !important;
  border-color: #673AB7 !important;
  background-color: #673AB7 !important;
  margin-right: 320px;
  justify-content: start;
  /* padding-left: -10px !important; */
  /* padding-right: -10px !important; */
}

.submit-and-cancel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* 컨테이너를 전체 너비로 확장 */
  padding: 10px;
}


.preview-cancel {
  margin-left: 300px;
}

.form-control {
  max-width: 170px; 
  margin-left: 20px;
}